# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Directories
bin/
target/
output/
data/
src/main/java/de/ddm/tutorial/

# IDE files
.project
.classpath
.settings
/.settings
.metadata
/.metadata
.recommenders
*.releaseBackup
release.properties
.idea
/.idea
*.iml
*.class
*.ipr
*.iws

# MacOS
.DS_Store

# Application files
results.txt
original
solution
